.cards {
  grid-column: 1/4;
  display: grid;
  justify-content: center;
  gap: 6rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  .text + & {
    margin-top: 0;
  }
  @include mobile {
    margin: 4rem 1rem 0 1rem;
  }
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border: 1px dashed c(gold);
    z-index: 0;
    content: "";
    transform: translateX(-50%);
  }
  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1rem;
    height: 1rem;
    transform: translate(-50%, -100%);
    border-radius: 50%;
    border: 1px solid c(gold);
    z-index: 0;
    content: "";
  }
}


.card {
  > * {
    z-index: 1;
  }
  h2, h3 {
    color: c(blue);
    margin-top: 1rem;
  }
  h3 {
    font-size: 1.6rem;
    + span {
      font-family: "Raleway", "Open sans", sans-serif;
      + p {
        margin-top: 1rem;
      }
    }
  }
  display: flex;
  position: relative;
  top: 1rem;
  margin-bottom: 0;
  background-color: #f7f5f0;
  flex-direction: column;
  border-radius: 0.1rem;
  color: c(blue, 0);
  z-index: 10;
  max-width: 100%;
  padding: 1rem 2rem 2rem 1rem;
  text-align: center;
  label, p {
    font-family: "Raleway", "Open sans", sans-serif;
    letter-spacing: 0.02em;
    color: c(blue, 0);
    position: relative;
    max-width: 40ch;
    text-align: center;
    margin-left: 0;
    + * {
      margin-top: 0.8rem;
    }
    span {
      display: inline;
      font-family: $font;
    }
  }
  a, button {
    margin-left: auto;
    margin-right: auto;
  }

  &::before {
    position: absolute;
    inset: 0.5rem;
    border: 3px solid c(gold);
    z-index: 0;
    content: "";
  }
  &::after {
    // position: absolute;
    // inset: -0.5rem;
    // background-color: blueviolet;
    // z-index: -2;
    // content: "";
  }

  @include tablet {
    padding: 4rem;

    &:before {
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      border: 5px solid c(gold);
      z-index: 0;
      content: "";
    }
  }

  .border-tl,
  .border-tr,
  .border-bl,
  .border-br {
    position: absolute;
    width: 20%;
    z-index: -2;

    @include mobile {
      display: none;
    }
  }

  .border-tl {
    top: -5%;
    left: -8%;
  }

  .border-tr {
    top: -5%;
    right: -8%;
  }

  .border-bl {
    bottom: -5%;
    left: -8%;
  }

  .border-br {
    bottom: -5%;
    right: -8%;
  }
}

.locations.card h3 {
  margin-top: $p*2;
}
.locations.card a + a {
  margin-top: 0.8rem;
}