---
layout: base
permalink: /gift-list/
eleventyNavigation:
  key: Gifts
  order: 3
---

<div class="cards">
  <div class="card">
    <h2>Wedding presents</h2>
    <p>The biggest and best present will be our wedding going ahead and having a massive party with all of you!</p>
    <p>Though if you'd like to surprise us with a gift beyond your <em>snazzy dancemoves</em>, we have a gift list you can check.</p>
    <a href="https://prezola.com/wishlists/10239728/">See our gift list</a>
  </div>
</div>