---
layout: base
permalink: /location/
eleventyNavigation:
  key: Location
  order: 2
---


<div class="cards">
  <div class="card">
    {# <div class="border-tl"><img src="/assets/images/border-tl.svg" alt="" /></div>
    <div class="border-tr"><img src="/assets/images/border-tr.svg" alt="" /></div>
    <div class="border-bl"><img src="/assets/images/border-bl.svg" alt="" /></div>
    <div class="border-br"><img src="/assets/images/border-br.svg" alt="" /></div> #}
    <h2>Location</h2>
    <p>We're getting married at <a href="https://www.romanbaths.co.uk/getting-here">The Roman Baths</a> in the centre of Bath. When you arrive on the day, head to the entrance on Stall Street and we'll show you in.</p>
    <p>If you're driving, the car parks on <a href="https://goo.gl/maps/N4AuoLjCGd4dVrMBA">Charlotte Street</a> or <a href="https://goo.gl/maps/DtubGG8Pfm6bR4oBA">Kingsmead Square</a> are only a 10 minute walk away.</p>
    <p>Bath Spa train station is also just 10 minutes away.</p>
    <iframe src="https://snazzymaps.com/embed/325254" width="100%" height="400px" style="border:none;"></iframe>
  </div>
  <div class="card locations">
    {# <div class="border-tl"><img src="/assets/images/border-tl.svg" alt="" /></div>
    <div class="border-tr"><img src="/assets/images/border-tr.svg" alt="" /></div>
    <div class="border-bl"><img src="/assets/images/border-bl.svg" alt="" /></div>
    <div class="border-br"><img src="/assets/images/border-br.svg" alt="" /></div> #}
    <h2>Staying the night</h2>
    <p>If you're travelling to Bath, or fancy a night away, these are some central hotels which spring to mind:</p>
    <h3>Fancy pants</h3>
    <a href="https://www.hilton.com/en/hotels/bathndi-doubletree-bath/">Gainsborough Bath Spa</a>
    <a href="https://www.royalcrescent.co.uk/">Royal Crescent Hotel</a>
    <h3>Quite alright</h3>
    <a href="https://www.apexhotels.co.uk/destinations/bath/apex-city-of-bath-hotel/">Apex City of Bath Hotel</a>
    <a href="https://www.hilton.com/en/hotels/bathndi-doubletree-bath/">Double Tree by Hilton</a>
    <h3>Perfectly serviceable</h3>
    <a href="https://www.premierinn.com/gb/en/hotels/england/somerset/bath/bath-city-centre.html">Premier Inn</a>
    <p class="pad-v">Or take a look on <a href="https://tinyurl.com/3yvkup5t">Booking.com</a></p>
  </div>
</div>