---
layout: base
permalink: /photos/
eleventyNavigation:
  key: Photo Gallery
  order: 1
---

<div class="cards">
  <div class="card">
    {# <div class="border-tl"><img src="/assets/images/border-tl.svg" alt="" /></div>
    <div class="border-tr"><img src="/assets/images/border-tr.svg" alt="" /></div>
    <div class="border-bl"><img src="/assets/images/border-bl.svg" alt="" /></div>
    <div class="border-br"><img src="/assets/images/border-br.svg" alt="" /></div> #}
    <h2>Our professioanl photos</h2>
    <p>Take a look at our gallery! You're welcome to download any photos you like. Just pop in your email address to access the page.</p>
    <a class="button" href="https://picti.net/tKLKt">View photos</a>
  </div>
  <div class="card">
    {# <div class="border-tl"><img src="/assets/images/border-tl.svg" alt="" /></div>
    <div class="border-tr"><img src="/assets/images/border-tr.svg" alt="" /></div>
    <div class="border-bl"><img src="/assets/images/border-bl.svg" alt="" /></div>
    <div class="border-br"><img src="/assets/images/border-br.svg" alt="" /></div> #}
    <h2>Guest photos</h2>
    <p>Thanks to all of you who sent us photos.</p>
    <p>You can take a look at them here:</p>
    <a class="button" href="https://www.dropbox.com/sh/mtzk6u8vbqvoz79/AADe_A-uJEIdK97EVsWuUNJ0a?dl=0">View guest photos</a>
  </div>
</div>