---
layout: base
permalink: /photos/
eleventyNavigation:
  key: Photo Gallery
  order: 1
---

<div class="cards">
  <div class="card">
    {# <div class="border-tl"><img src="/assets/images/border-tl.svg" alt="" /></div>
    <div class="border-tr"><img src="/assets/images/border-tr.svg" alt="" /></div>
    <div class="border-bl"><img src="/assets/images/border-bl.svg" alt="" /></div>
    <div class="border-br"><img src="/assets/images/border-br.svg" alt="" /></div> #}
    <h2>Check back soon</h2>
    <p>We'll post our professional photos soon.</p>
  </div>
  <div class="card">
    {# <div class="border-tl"><img src="/assets/images/border-tl.svg" alt="" /></div>
    <div class="border-tr"><img src="/assets/images/border-tr.svg" alt="" /></div>
    <div class="border-bl"><img src="/assets/images/border-bl.svg" alt="" /></div>
    <div class="border-br"><img src="/assets/images/border-br.svg" alt="" /></div> #}
    <h2>Guest photos</h2>
    <p>Thanks to all of you who sent us photos.</p>
    <p>You can take a look at them on <a href="https://www.dropbox.com/sh/mtzk6u8vbqvoz79/AADe_A-uJEIdK97EVsWuUNJ0a?dl=0">this dropbox page</a></p>
  </div>
</div>