---
layout: base
permalink: /timings-details/
eleventyNavigation:
  key: Timings and details
  order: 1
---

<div class="cards">
  <div class="card">
    {# <div class="border-tl"><img src="/assets/images/border-tl.svg" alt="" /></div>
    <div class="border-tr"><img src="/assets/images/border-tr.svg" alt="" /></div>
    <div class="border-bl"><img src="/assets/images/border-bl.svg" alt="" /></div>
    <div class="border-br"><img src="/assets/images/border-br.svg" alt="" /></div> #}
    <h2>Timings</h2>
    <p>Please arrive at <span>7pm</span></p>
    <p>The ceremony will be at <span>7.30pm</span></p>
    <p>Afterwards we'll enjoy a glass of fizz with you lovely people next to the Great Bath, and we'll capture you all in some photographs.</p>
    <p>We'll then move inside where dinner will be served at <span>9pm</span>. The rest of the evening will be filled with drinking, dancing and catching up, wrapping up at <span>1am</span>.</p>
  </div>
  <div class="card">
    <h2>Dress code</h2>
    <p>Our dress code is formal. Suits, dresses, that sort of thing. It's a lovely, historic venue and you'll all look wonderful!</p>
    <p>The ceremony will take place around the Great Bath. It's undercover, but it will be rather fresh on an evening in November so bring a scarf or an overcoat!</p>
    <p>We'll be outside for about an hour before we head in for the reception.</p>
  </div>
  <div class="card">
    <h2>Location</h2>
    <p>Check our recommendations for travel, where to go at the Roman Baths, and some hotel suggestions.</p>
    <a href="/location">Location and hotels</a>
  </div>
</div>