.list-reset {
  list-style: none;
}

.pad-v {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pad-h {
  padding-left: 2rem;
  padding-right: 2rem;
}

.wrap {
  width: 100%;
  @include desktop-s {
    width: 100%;
  }
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  position: relative;
}

// For use on spans inside links.
.expander {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  transition: background 0.2s ease;
  &:hover {
    background-color: rgba(white, 0.2);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  + * {
    margin-top: 0;
  }
}

.hide-mobile {
  display: block;
  @include mobile {
    display: none;
  }
}

.hide-desktop {
  display: block;
  @include tablet {
    display: none;
  }
}

.slide-in-right {
  animation: slide-in-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}

.sr-skip-link {
  @include sr-only();
  @include sr-only-focusable();

  &:focus {
      position: absolute;
      z-index: 9999;
      left: 50%;
      top: 0;
      font-size: 1rem;
      transform: translateX(-50%);
      background-color: c(black, 75);
      color: #fff;
      border-radius: 0 0 0.5rem 0.5rem;
      padding: 1rem 1.5rem;
      outline: 0;
      white-space: nowrap;
  }
}