---
layout: base
eleventyNavigation:
  key: Home
---

<div class="text">
  <h1>Rachel and Tom are married!</h1>
  <p>It was on Saturday 6th November 2021, 7pm</p>
  <p>The Roman Baths, Bath</p>
</div>
<div class="cards">
  <div class="card">
    <h2>Thank you!</h2>
    <p>Thanks to all of you for making it such a wonderful occasion.</p>
    <br>
    - Rachel and Tom
  </div>
</div>