---
layout: base
eleventyNavigation:
  key: Home
---

<div class="text">
  <h1>Rachel and Tom are getting married!</h1>
  <p>Saturday 6th November 2021, 7pm</p>
  <p>The Roman Baths, Bath</p>
</div>
<div class="cards">
  <div class="card">
    {# <div class="border-tl"><img src="/assets/images/border-tl.svg" alt="" /></div>
    <div class="border-tr"><img src="/assets/images/border-tr.svg" alt="" /></div>
    <div class="border-bl"><img src="/assets/images/border-bl.svg" alt="" /></div>
    <div class="border-br"><img src="/assets/images/border-br.svg" alt="" /></div> #}
    <h2>What do you need to do?</h2>
    <h3>1. Choose your menu</h3>
    <span>by 28th August</span>
    <p>Go ahead and choose what you'd like to eat at our reception.</p>
    <a href="https://0aimswwzm3e.typeform.com/to/b9MBKLUn" class="button" target="_blank">Choose your menu</a>
    <p>If you're no longer able to attend <a class="typeform-share" href="https://form.typeform.com/to/b9MBKLUn?typeform-medium=embed-snippet#id=xxxxx" data-mode="drawer_right"  target="_blank">let us know here</a></p>
  </div>
  <div class="card">
    {# <div class="border-tl"><img src="/assets/images/border-tl.svg" alt="" /></div>
    <div class="border-tr"><img src="/assets/images/border-tr.svg" alt="" /></div>
    <div class="border-bl"><img src="/assets/images/border-bl.svg" alt="" /></div>
    <div class="border-br"><img src="/assets/images/border-br.svg" alt="" /></div> #}
    <h3>2. Plan your evening</h3>
    <p>Wondering what to wear or when to show up?</p>
    <a class="button" href="/timings-details" aria-label="timings and details page">See evening details</a>
  </div>
</div>
{# <script src="//embed.typeform.com/next/embed.js"></script> #}